# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables sensibles
terraform.tfvars
*.auto.tfvars

# Node.js
node_modules/

# Next.js
.next/
out/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Backend
backend/dist/
backend/*.zip

# Local Terraform backend configuration
terraform/backend.hcl
